<br>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>Reviews : </p>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
<% end %>


<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>


<%= link_to 'Review this restaurant', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
<%= link_to 'Back', restaurants_path , class: "btn btn-primary"%>
